@layer AnyStylesImagesTokens {
:root
{
	--GX-Image_PageFirst : url(../PageFirst.gif);
	--GX-Image_PageLast : url(../PageLast.gif);
	--GX-Image_PageNext : url(../PageNext.gif);
	--GX-Image_PagePrevious : url(../PagePrevious.gif);
	--GX-Image_VideoDownload : url(../VideoDownload.png);
	--GX-Image_AudioDownload : url(../AudioDownload.png);
	--GX-Image_ActionDisplay : url(../ActionDisplay.gif);
	--GX-Image_ActionInsert : url(../ActionInsert.gif);
	--GX-Image_GenericFilter : url(../GenericFilter.png);
	--GX-Image_selectRow : url(../selectRow.gif);
	--GX-Image_MultimediaEdit : url(../MultimediaEdit.png);
	--GX-Image_MultimediaClear : url(../MultimediaClear.png);
	--GX-Image_PlaceHolderVideo : url(../PlaceHolderVideo.png);
	--GX-Image_PlaceHolderImage : url(../PlaceHolderImage.png);
	--GX-Image_PlaceHolderAudio : url(../PlaceHolderAudio.png);
	--GX-Image_ActionDelete : url(../ActionDelete.gif);
	--GX-Image_ActionUpdate : url(../ActionUpdate.gif);
	--GX-Image_locateMe : url(../locateMe.png);
	--GX-Image_calendar : url(../calendar.gif);
	--GX-Image_PoweredByGeneXus : url(../PoweredByGeneXus.png);
	--GX-Image_DeleteRow : url(../DeleteRow.gif);
	--GX-Image_UndeleteRow : url(../UndeleteRow.gif);
	--GX-Image_Group : url(../Group.png);
}

.GX_Image_PageFirst_Class{content: var(--GX-Image_PageFirst);}
.GX_Image_PageLast_Class{content: var(--GX-Image_PageLast);}
.GX_Image_PageNext_Class{content: var(--GX-Image_PageNext);}
.GX_Image_PagePrevious_Class{content: var(--GX-Image_PagePrevious);}
.GX_Image_VideoDownload_Class{content: var(--GX-Image_VideoDownload);}
.GX_Image_AudioDownload_Class{content: var(--GX-Image_AudioDownload);}
.GX_Image_ActionDisplay_Class{content: var(--GX-Image_ActionDisplay);}
.GX_Image_ActionInsert_Class{content: var(--GX-Image_ActionInsert);}
.GX_Image_GenericFilter_Class{content: var(--GX-Image_GenericFilter);}
.GX_Image_selectRow_Class{content: var(--GX-Image_selectRow);}
.GX_Image_MultimediaEdit_Class{content: var(--GX-Image_MultimediaEdit);}
.GX_Image_MultimediaClear_Class{content: var(--GX-Image_MultimediaClear);}
.GX_Image_PlaceHolderVideo_Class{content: var(--GX-Image_PlaceHolderVideo);}
.GX_Image_PlaceHolderImage_Class{content: var(--GX-Image_PlaceHolderImage);}
.GX_Image_PlaceHolderAudio_Class{content: var(--GX-Image_PlaceHolderAudio);}
.GX_Image_ActionDelete_Class{content: var(--GX-Image_ActionDelete);}
.GX_Image_ActionUpdate_Class{content: var(--GX-Image_ActionUpdate);}
.GX_Image_locateMe_Class{content: var(--GX-Image_locateMe);}
.GX_Image_calendar_Class{content: var(--GX-Image_calendar);}
.GX_Image_PoweredByGeneXus_Class{content: var(--GX-Image_PoweredByGeneXus);}
.GX_Image_DeleteRow_Class{content: var(--GX-Image_DeleteRow);}
.GX_Image_UndeleteRow_Class{content: var(--GX-Image_UndeleteRow);}
.GX_Image_Group_Class{content: var(--GX-Image_Group);}
}